/* =============== Styling =============== */

html {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
}

header {
  color: rgb(226, 217, 43);
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 2em;
}
